<div class="col">
    <a href="/cat/{{name}}" class="card hvr-grow-shadow" style="width: 18rem;">
        <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap">
        <div class="card-body">
            <h1 class="card-title">{{name}}</h1>
        </div>
    </a>
</div>