<div id='edit-prompt'>  
    <textarea class='text-submission' id='postTitleEditForm' name='postTitleEditForm' placeholder='Edit Title (REQUIRED)' style='width: 100%; max-width: 100%;' rows='1'> {{postTitle}}</textarea>
    <textarea class='text-submission' id='captionEditForm' name='captionEditForm' placeholder='Edit Caption' style='width: 100%; max-width: 100%;' rows='2'>{{caption}}</textarea>
    <button type='button' class='btn btn-danger' name='edit-post-submit' id='edit-post-submit'>Save</button>
</div>