<form id="editCommentForm" name="editCommentForm" method="GET" action="/openEditComment">
    <button id="edit-comment-btn" name="edit-comment-btn" class="btn btn-outline-danger">Edit</button>
    <textarea readonly="readonly" id="commentId" name="commentId" style="display: none;">{{_id}}</textarea>
    <textarea readonly="readonly" id="commentText" name="commentText" style="display: none;">{{text}}</textarea>
</form>