<div id='edit-description-forms'>  
    <textarea class='text-submission' id='descriptionEditForm' name='descriptionEditForm' placeholder='Edit Description' style='width: 100%; max-width: 100%;' rows='2'>{{description}}</textarea>
    <button type='button' class='btn btn-danger' name='edit-description-submit' id='edit-description-submit'>Save</button>
</div>