<div class="card mb-3">
    <img src="/imgs/goldi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title-custom">{{featured_title}}</h5>
        <p class="card-text">{{featured_content}}</p>
        <p class="card-text"><small class="text-muted">Posted by {{featured_author}}</small></p>
    </div>
</div>