<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home"><img src="/imgs/it.png" width="50px"> catvas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if home_active}}active{{/if}}">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#if explore_active}}active{{/if}} dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-camera"></i> Explore
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item {{#if adopt_active}}active-drop{{/if}}" href="adoptCat"><i class="fas fa-heart"></i> Adopt a Cat</a>
                      <a class="dropdown-item {{#if catfeed_active}}active-drop{{/if}}" href="cat-feed"><i class="fas fa-comments"></i> View Catfeed</a>
                    </div>
                </li>
                <li class="nav-item {{#if team_active}}active{{/if}}">
                    <a class="nav-link" href="team"><i class="fas fa-code"></i> Meet the Team</a>
                </li>
                <li class="nav-item {{#if faq_active}}active{{/if}}">
                    <a class="nav-link" href="faq"><i class="fas fa-question"></i> FAQ</a>
                </li>
                <li class="nav-item {{#if donate_active}}active{{/if}}">
                    <a class="nav-link" href="donate"> <i class="fas fa-box-open"></i> Donate to Catvas</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{#if login_active}}active{{/if}}">
                    <a class="nav-link" href="login"><i class="fas fa-cat"></i> Login </a>
                </li>
                <li class="nav-item {{#if signup_active}}active{{/if}}">
                    <a class="nav-link" href="signup"><i class="fas fa-paw"></i> Sign Up</a>
                </li>
            </ul>
        </div>
</nav>