<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"><img src="/imgs/it.png" width="50px"> catvas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{#if home_active}}active{{/if}}">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#if adopt_active}}active{{/if}}">
                    <a class="nav-link" href="/adoptCat"><i class="fas fa-heart"></i> Adopt a Cat</a>
                </li>
                <li class="nav-item {{#if catfeed_active}}active{{/if}}">
                    <a class="nav-link" href="/catFeed"><i class="fas fa-comments"></i> View Catfeed</a>
                </li>
                
                <li class="nav-item {{#if team_active}}active{{/if}}">
                    <a class="nav-link" href="/team"><i class="fas fa-users-cog"></i> Meet the Team</a>
                </li>
                <li class="nav-item {{#if faq_active}}active{{/if}}">
                    <a class="nav-link" href="/faq"><i class="fas fa-question"></i> FAQ</a>
                </li>
                <li class="nav-item {{#if donate_active}}active{{/if}}">
                    <a class="nav-link" href="/donate"> <i class="fas fa-box-open"></i> Donate to Catvas</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if active_session}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{active_user}}"><i class="fas fa-cat"></i> {{active_user}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" id="signout-btn"><i class="fas fa-sign-out-alt"></i> Logout </a>
                </li>
                {{else}}
                <li class="nav-item {{#if login_active}}active{{/if}}">
                    <a class="nav-link" href="/login"><i class="fas fa-cat"></i> Login </a>
                </li>
                <li class="nav-item {{#if signup_active}}active{{/if}}">
                    <a class="nav-link" href="/signup"><i class="fas fa-paw"></i> Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
</nav>


                      