    <div class="container center-wrapper" style="margin-top: 8%;">
        <h1 class="big">404 Page not Found</h1>
        <p>Sorry, the cats are busy napping...! Try again later! </p><br>
        <img src="imgs/404.png" width="150px">
        <img src="imgs/404.png" width="150px">
        <br>
        <p>These sleepy cats are taken care by: CATVAS Developers <i class="fas fa-paw"></i></p>  
    </div>
