<script> document.title = "Adopt a Cat! | Catvas"  </script>
<div class="container feed-container align-items-center mb-5" style="max-width: 90em;">
        <h1 style="font-size: 72pt; color: #d34b3b">Adopt a Cat</h1>
        <h1>Laguna Cats</h1>

        <div class="row mb-3">
            {{#each lagunaCats}}
                {{> catCard}}
            {{/each}}
        </div>

        <h1>Manila Cats</h1>

        <div class="row mb-3">
            {{#each manilaCats}}
                {{> catCard}}
            {{/each}}
        </div>        
</div>