<script> document.title = "{{username}} | Catvas"  </script>
<div class="container-cat">
    <div class="row">
        <div class="col-md-4">
            <img src="{{avatar}}" width="400px">
            <br>
        </div>
        <div class="col-md-8 background-red">
            <p class="center" id="cat-name-profile">HEY, I am {{username}}!</p>
            <hr>
            <p class="profile-mini-header center"><i class="fas fa-address-card"></i> About Me</p>
            <p id="your-desc">{{description}}</p>
            </p>
        </div>
    </div>
</div>
