<section class="margin-top-6">
        
        <div class="container mt-5 mb-3">
            <h1 class = "big">Frequently Asked Questions</h1>
            <hr>
        </div>
        <div class="container mb-3">
            <h2 class = "big-2">1. What is Catvas?</h1>
            <p class="mt-4 faq-answers">
                Catvas is a 2nd year student project created by <b>Jacob Darvin, Justin Galura and Michele Gelvoleo</b>. Its goal is to establish itself in the DLSU PUSA community as a social network surrounding them.
            </p>
        </div>
        <div class="container mb-3">
            <h2 class = "big-2">2. What are the packages and libraries used to make Catvas?</h1>
            <p class="mt-4 faq-answers">
                This website application used the following npm packages:
                <table>
                    <tr>
                        <th>NPM Package</th>
                        <th>Version</th>
                    </tr>
                    <tr>
                        <td>bcrypt</td>
                        <td>4.0.1</td>
                    </tr>
                    <tr>
                        <td>body-parser</td>
                        <td>1.19.0</td>
                    </tr>
                    <tr>
                        <td>connect-mongo</td>
                        <td>3.2.0</td>
                    </tr>
                    <tr>
                        <td>cookie-parser</td>
                        <td>1.4.5</td>
                    </tr>
                    <tr>
                        <td>express</td>
                        <td>4.17.1</td>
                    </tr>
                    <tr>
                        <td>express-handlebars</td>
                        <td>4.0.4</td>
                    </tr>
                    <tr>
                        <td>express-session</td>
                        <td>1.17.1</td>
                    </tr>
                    <tr>
                        <td>hbs</td>
                        <td>4.1.1</td>
                    </tr>
                    <tr>
                        <td>mongo-sanitize</td>
                        <td>1.1.0</td>
                    </tr>
                    <tr>
                        <td>mongodb</td>
                        <td>3.5.7</td>
                    </tr>
                    <tr>
                        <td>mongoose</td>
                        <td>5.9.10</td>
                    </tr>
                    <tr>
                        <td>multer</td>
                        <td>1.4.2</td>
                    </tr>
                </table>
            </p>
        </div>
        <div class="container mb-3">
            <h2 class = "big-2">3. How can I help?</h1>
            <p class="mt-4 faq-answers">
                You can help by sharing Catvas to your peers and friends or donating in cash or in-kind to DLSU PUSA.
                Check out <a href="donate"><span id="donate-link">Donate to Catvas</span></a> for more details.
            </p>
        </div>
        <div class="container mb-3">
            <h2 class = "big-2">4. Where do my donations go?</h1>
            <p class="mt-4 faq-answers">
                Your cash donations go directly to maintaining Catvas' servers and DLSU PUSA funds.
                Your In-Kind donations will be manage by volunteers who run DLSU PUSA.
            </p>
        </div>
        <div class="container mb-3">
            <h2 class = "big-2">5. What exactly does DLSU PUSA do?</h1>
            <p class="mt-4 faq-answers">
                DLSU PUSA is an organization in DLSU Manila dedicated to feeding, spaying/neutering, and taking care of the cats that live
                within and around DLSU. The goal of DLSU PUSA is to get all of these stray cats to a loving home. 
            </p>
        </div>
        <div class="container mb-3">
            <h2 class = "big-2">6. Can DLSU PUSA adopt a stray I found?</h1>
            <p class="mt-4 faq-answers">
                DLSU PUSA is not allowed to bring in strays inside the campus but they can redirect you to a trusted source that can check on what they can do
                to the stray that you found and collaborate with you as well.
            </p>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>