<div class="container-fluid float-right">
    <div clas="row">
        <div class="col col-6 d-sm-none d-md-block">
            <div class="red-sign-up">
                <h1 id="hello-friend"><b>Hewwo, meow!</b></h1>
                <p>Don't have an account?</p>
                <a href="sign-up.html">
                    <button type="button" class="btn btn-danger"><b>SIGN-UP</b></button>
                </a>
            </div>
        </div>
        <div class="left-image-login"></div>
        <div class="col col-6 float-right form-wrapper-login">
            <div class="flex-container">
                <img src='../imgs/it.png' width="140px">
                <p id="sign-up-text">Log-In</p>
            </div>
            <form class="entry-forms" id="login-forms">
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="userName" class="form-control" id="login-username" placeholder="Enter User Name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Enter Password">
                </div>
                <button id="login-btn" type="button" class="btn btn-outline-danger"><b>S U B M I T</b></button>
            </form>
        </div>
    </div>
</div>