<script> document.title = "Signup | Catvas"  </script>

<div class="container-fluid float-right">
    <div clas="row">
        <div class="col col-6 col-md-6 col-lg-6 d-sm-none d-md-block">
            <div class="red-sign-up">
                <h1 id="hello-friend"><b>Hewwo, meow!</b></h1>
                <p>Already have an account?</p>
                <a href="/login">
                    <button type="button" class="btn btn-danger"><b>LOG-IN</b></button>
                </a>
            </div>
        </div>
        <div class="left-image-signup"></div>
        <div class="col col-6 col-md-6 col-lg-6 float-right form-wrapper-signup" style="margin-top: 0em;">
            <div class="flex-container mt-5 pt-3">
                <img src='../imgs/it.png' width="140px">
                <p id="sign-up-text">Sign-Up</p>
            </div>
            <form class="entry-forms" id="signup-forms" method="post">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input name="username" type="username" class="form-control" id="username" placeholder="Enter User Name">
                    <small id="usernameHelp" class="form-text text-muted">Username be within 3-16 characters. No special characters. Periods should not be in a series or at the beginning.</small>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter E-mail Address">
                    <small id="emailHelp" class="form-text text-muted">Your email will be kept private.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Enter Password">
                    <small id="passwordHelp" class="form-text text-muted">Password should be at least 8 in length, have 1 uppercase, 1 lowercase, 1 number, and 1 special character</small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3" placeholder="Give other users a short description of yourself!"></textarea>
                </div>
                <button id="sign-up-btn" type="button" class="btn btn-outline-danger"><b>S U B M I T</b></button>
                <p id="signup-error"></p>
            </form>
        </div>
    </div>
</div>