<div class="container margin-top-6">
    <h1 class="big">Meet the Team</h1>
    <h2 class = "big-2"><i class="fas fa-terminal"></i> Developers</h1>
    <div class="row">
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="..." width="80px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Jacob Darvin</h5>
                <p class="card-text">DLSU 118 Student. <br> Developer.</p>
                <div class="center-wrapper">
                    <a href="https://github.com/Darvvvin" class="btn btn-outline-danger center-wrapper">GITHUB PROFILE</a>
                </div>
            </div>
        </div>
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="..." width="200px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Justin Jay Galura</h5>
                <p class="card-text">DLSU 118 Student. <br> Developer.</p>
                <div class="center-wrapper">
                    <a href="https://github.com/G-Justin" class="btn btn-outline-danger center-wrapper">GITHUB PROFILE</a>
                </div>
            </div>
        </div>
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="..." width="200px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Michele Gelvoleo</h5>
                <p class="card-text">DLSU 118 Student. <br> Developer.</p>
                <div class="center-wrapper">
                    <a href="https://github.com/waterproofloaf" class="btn btn-outline-danger center-wrapper">GITHUB PROFILE</a>
                </div>
            </div>
        </div>
    </div>
</div>