<div class="container margin-top-6">
    <h1 class="big">Meet the Team</h1>
    <hr>
    <h2 class="big-2 mt-4"><i class="fas fa-terminal"></i> Developers</h1>
    <div class="row">
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="../imgs/dev1.jpg" width="150px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Jacob Darvin</h5>
                <p class="card-text">DLSU 118 Student. <br> Developer.</p>
                <div class="center-wrapper">
                    <a href="https://github.com/Darvvvin" class="btn btn-outline-danger center-wrapper">GITHUB PROFILE</a>
                </div>
            </div>
        </div>
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="../imgs/dev2.jpg" width="180px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Justin Jay Galura</h5>
                <p class="card-text">DLSU 118 Student. <br> Developer.</p>
                <div class="center-wrapper">
                    <a href="https://github.com/G-Justin" class="btn btn-outline-danger center-wrapper">GITHUB PROFILE</a>
                </div>
            </div>
        </div>
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="../imgs/dev3.jpg" width="180px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Michele Gelvoleo</h5>
                <p class="card-text">DLSU 118 Student. <br> Developer.</p>
                <div class="center-wrapper">
                    <a href="https://github.com/waterproofloaf" class="btn btn-outline-danger center-wrapper">GITHUB PROFILE</a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="big-2 mt-4"><i class="fas fa-hand-sparkles"></i> Volunteers</h1>
    <div class="row mb-4">
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="../imgs/kitty-hero.png" width="150px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Laureen dCat</h5>
                <p class="card-text">
                    Student Volunteer @ DLSU PUSA
                </p>
            </div>
        </div>
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="../imgs/kitty-hero.png" width="150px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Romeow dMeow</h5>
                <p class="card-text">
                    Student Volunteer @ DLSU PUSA
                </p>
            </div>
        </div>
        <div class="card margin-left-6" style="width: 18rem;">
            <img class="card-img-top" src="../imgs/kitty-hero.png" width="150px", height="200px">
            <div class="card-body">
                <h5 class="card-title">Animo dArcher</h5>
                <p class="card-text">
                    Student Volunteer @ DLSU PUSA
                </p>
            </div>
        </div>
    </div>
</div>