<script> document.title = "{{username}} | Catvas"  </script>
<div class="container-cat">
    <div class="row">
        <div class="col-md-4">
            <img src="{{avatar}}" width="400px">
            <br>
             <button type="button" class="btn btn-danger" name="edit-picture" id="edit-picture">Edit Photo</button>
        </div>
        <div class="col-md-8 background-red">
            <p class="center" id="cat-name-profile">HEY, I am {{username}}!</p>
            <hr>
            <p class="profile-mini-header center"><i class="fas fa-address-card"></i> About Me</p>
            <textarea class="text-submission" id="your-desc" name="your-desc" placeholder="Edit your own description here!" style="width: 100%; max-width: 100%;" rows="2"></textarea>
            </p>
            <button type="submit" class="btn btn-danger" id="submit-submission-btn">Submit</button>
        </div>
    </div>
</div>
